<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <p>As a recent graduate with a Master's degree in Computer Science, I am
          enthusiastic about leveraging my strong analytical and programming
          skills to make meaningful contributions as an entry-level data scientist.
          My academic background, which includes coursework in machine
          learning, statistics, and data analysis, has provided me with a solid
          foundation. I am adept at using Python, R, and SQL to extract, clean, and
          analyze data. With a commitment to continuous learning and a keen
          interest in solving complex problems, I am eager to apply my knowledge
          and grow as a data scientist in a dynamic and collaborative team
          environment.</p>
      </div>
      <!-- <div class="col-lg-4">
        <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or
          a graphic artist looking to share your projects, this template is the perfect starting point! </p>
      </div> -->
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a download="https://github.com/58d12ddd-678d-405f-9c39-684ebdb26cf9" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Resume
        </a>
      </div>
    </div>
  </div>
</section>